## Introduction to SQLite

https://docs.python.org/3/library/sqlite3.html

***

In [1]:
import sqlite3
conn = sqlite3.connect('data\example.db')

In [2]:
c = conn.cursor()

In [3]:
# Create table
c.execute('''CREATE TABLE person
               (name text, address text)''')

OperationalError: table person already exists

In [ ]:
conn.commit()

In [4]:
c.execute("SELECT name FROM sqlite_master WHERE type='table'")
c.fetchall()

[('person',)]

In [5]:
# Insert one record into person database.
c.execute("INSERT INTO person VALUES ('Anna Henry', 'Carlow')")
conn.commit()

In [6]:
# View record
c.execute("SELECT * FROM person")
c.fetchall()

[('Anna Henry', 'Carlow')]

In [7]:
# Insert multiple records in one go.
person = [('Shelby Beck', 'Tipperary'), ('Marie Carr', 'Kerry'), ('Sarah Heath', 'Monaghan')]
person

[('Shelby Beck', 'Tipperary'),
 ('Marie Carr', 'Kerry'),
 ('Sarah Heath', 'Monaghan')]

In [8]:
c.executemany("INSERT INTO person VALUES (?, ?)", person)
conn.commit()

In [9]:
# View records
c.execute("SELECT * FROM person")
c.fetchall()

[('Anna Henry', 'Carlow'),
 ('Shelby Beck', 'Tipperary'),
 ('Marie Carr', 'Kerry'),
 ('Sarah Heath', 'Monaghan')]

In [10]:
# Viewing all records including ROWID
c.execute("SELECT ROWID, name, address FROM person")
c.fetchall()

[(1, 'Anna Henry', 'Carlow'),
 (2, 'Shelby Beck', 'Tipperary'),
 (3, 'Marie Carr', 'Kerry'),
 (4, 'Sarah Heath', 'Monaghan')]

In [11]:
# Insert duplicate record into person database.
c.execute("INSERT INTO person VALUES ('Anna Henry', 'Carlow')")
conn.commit()

In [12]:
# Viewing all records including ROWID
c.execute("SELECT ROWID, name, address FROM person")
c.fetchall()

[(1, 'Anna Henry', 'Carlow'),
 (2, 'Shelby Beck', 'Tipperary'),
 (3, 'Marie Carr', 'Kerry'),
 (4, 'Sarah Heath', 'Monaghan'),
 (5, 'Anna Henry', 'Carlow')]

In [13]:
# Deleting replicate row
c.execute("DELETE FROM person WHERE ROWID=1")
conn.commit()

In [14]:
# Viewing all records including ROWID
c.execute("SELECT ROWID, name, address FROM person")
c.fetchall()

[(2, 'Shelby Beck', 'Tipperary'),
 (3, 'Marie Carr', 'Kerry'),
 (4, 'Sarah Heath', 'Monaghan'),
 (5, 'Anna Henry', 'Carlow')]

In [15]:
# Insert one record into person database.
c.execute("INSERT INTO person VALUES ('Rob Sneider', 'Leitrim')")
conn.commit()

In [16]:
# Viewing all records including ROWID
c.execute("SELECT ROWID, name, address FROM person")
c.fetchall()

[(2, 'Shelby Beck', 'Tipperary'),
 (3, 'Marie Carr', 'Kerry'),
 (4, 'Sarah Heath', 'Monaghan'),
 (5, 'Anna Henry', 'Carlow'),
 (6, 'Rob Sneider', 'Leitrim')]

In [ ]:
# Create table (if you wanted to specify the name of the primary key column)
# c.execute('''CREATE TABLE person(id INTEGER PRIMARY KEY,
#               name text, address text)''')

<br>

***

## SQLite with Pandas

In [19]:
import pandas as pd

In [17]:
c.execute("DROP TABLE person")
conn.commit()

In [20]:
revenue = pd.read_csv("data/revenue_forecast.csv", index_col=0)
revenue.head()

           ds          yhat    yhat_lower    yhat_upper
0  2016-01-01  1.636723e+06  1.427253e+06  1.839309e+06
1  2016-02-01  1.518569e+06  1.309728e+06  1.711762e+06
2  2016-03-01  1.372004e+06  1.159067e+06  1.572769e+06
3  2016-04-01  1.217164e+06  1.008798e+06  1.421646e+06
4  2016-05-01  1.237077e+06  1.029925e+06  1.429509e+06

In [21]:
revenue.to_sql("revenue", conn)

In [22]:
# View records
c.execute("SELECT * FROM revenue")
c.fetchall()

[(0, '2016-01-01', 1636722.9555564637, 1427252.674459031, 1839309.029700267),
 (1, '2016-02-01', 1518568.5396777238, 1309727.5902478087, 1711761.9027200174),
 (2, '2016-03-01', 1372003.6982572842, 1159066.6675515606, 1572768.995757019),
 (3, '2016-04-01', 1217163.7421811183, 1008797.7132842754, 1421646.0364259733),
 (4, '2016-05-01', 1237077.0763919395, 1029925.0056081832, 1429509.1323123856),
 (5, '2016-06-01', 1349333.011647644, 1168542.65146235, 1549028.2330960147),
 (6, '2016-07-01', 1313180.080666196, 1101959.9116113298, 1512120.445896265),
 (7, '2016-08-01', 1247161.4864774535, 1057447.9651060724, 1450425.3307192402),
 (8, '2016-09-01', 1288472.4998331622, 1096718.1077686318, 1494803.0941641033),
 (9, '2016-10-01', 1420541.437614018, 1217396.8787332564, 1610542.431373012),
 (10, '2016-11-01', 1364555.288092764, 1152473.688065984, 1555785.4529886458),
 (11, '2016-12-01', 1132315.5607365374, 925783.067199036, 1334443.800749711),
 (12, '2017-01-01', 1729306.270883294, 1520527.6578716033, 1919530.324932758),
 (13, '2017-02-01', 1379423.0808431753, 1174621.165037807, 1565826.047010468),
 (14, '2017-03-01', 1578226.3605774313, 1368288.4244683066, 1800841.821271664),
 (15, '2017-04-01', 1485387.5587468974, 1272912.7051913687, 1682213.731030529),
 (16,
  '2017-05-01',
  1533609.7547202082,
  1318566.8491701132,
  1747940.4915293986),
 (17,
  '2017-06-01',
  1421687.1534744198,
  1212683.4350153094,
  1617497.2140987949),
 (18,
  '2017-07-01',
  1594644.4946147506,
  1378966.6659297245,
  1792265.0876003983),
 (19, '2017-08-01', 1526198.820810167, 1335088.7745692723, 1731580.5396202712),
 (20, '2017-09-01', 1665392.5685531525, 1465047.821453729, 1869911.00166788),
 (21, '2017-10-01', 1660726.4431628152, 1469050.375883971, 1869961.0814015176),
 (22,
  '2017-11-01',
  1614992.2437978412,
  1411623.1515878337,
  1844045.0228859084),
 (23, '2017-12-01', 1181938.6691799671, 987373.4493669412, 1397472.8607844303),
 (24, '2018-01-01', 2028573.425191615, 1825763.9960666436, 2233300.9288656283),
 (25, '2018-02-01', 1760402.0614726965, 1564215.9620090437, 1965289.845620011),
 (26, '2018-03-01', 1782790.6989846367, 1566034.998551586, 1983571.6418645084),
 (27, '2018-04-01', 1753371.750540556, 1533003.594423358, 1959036.512091556),
 (28,
  '2018-05-01',
  1827463.5435734843,
  1624009.4140927382,
  2046150.7566356084),
 (29,
  '2018-06-01',
  1494062.5675398672,
  1294785.2296973746,
  1698947.9715035644),
 (30, '2018-07-01', 1879570.5831698335, 1671717.053337514, 2076958.634286149),
 (31,
  '2018-08-01',
  1807447.3785158424,
  1591906.5416991266,
  2010563.7028262725),
 (32, '2018-09-01', 2041652.075170039, 1835604.5483922013, 2254633.595483945),
 (33, '2018-10-01', 1897923.860614822, 1705275.7457322655, 2103844.20359565),
 (34, '2018-11-01', 1862304.0044128925, 1654090.724558601, 2060193.751773034),
 (35, '2018-12-01', 1233329.938753481, 1018401.2454088276, 1426037.1588860909),
 (36, '2019-01-01', 2359031.1693512267, 2140290.329833225, 2560966.37688847),
 (37, '2019-02-01', 2194614.259843489, 1987905.1076237976, 2389982.2244984875),
 (38, '2019-03-01', 2062577.885280209, 1854643.3689925133, 2274072.491976084),
 (39, '2019-04-01', 2124443.6590522253, 1926614.280954123, 2329415.297999781),
 (40, '2019-05-01', 2247615.387331577, 2017071.6263074183, 2440468.3715020632),
 (41, '2019-06-01', 1722107.223477797, 1507606.877715611, 1924555.6606853427),
 (42, '2019-07-01', 2349028.985976413, 2152530.1984049845, 2562644.1379038035),
 (43, '2019-08-01', 2227166.853981628, 2026610.398324034, 2430583.6408064133),
 (44, '2019-09-01', 2508697.019205884, 2305070.7161686555, 2717155.974902905),
 (45,
  '2019-10-01',
  2180440.6149857086,
  1981859.6248383983,
  2382402.3825038443),
 (46, '2019-11-01', 2110126.406607698, 1881062.933246, 2301609.872291459),
 (47,
  '2019-12-01',
  1246974.2809799672,
  1035000.9594714592,
  1459898.0644302072),
 (48, '2020-01-01', 2556729.3024966465, 2356120.8051828817, 2765087.520328223),
 (49, '2020-02-01', 2393825.5572850825, 2192010.32920976, 2606100.3122731526),
 (50, '2020-03-01', 2205398.4400374675, 1992205.543984244, 2406033.91782278),
 (51, '2020-04-01', 2005809.154938357, 1809054.44782449, 2223590.7844813243),
 (52, '2020-05-01', 1717141.0246771595, 1513759.553818746, 1919317.6835174945),
 (53,
  '2020-06-01',
  1823653.9609101631,
  1611729.0735857356,
  2019965.9654487453),
 (54, '2020-07-01', 1781944.0166454152, 1571430.03849049, 1981558.3364654195),
 (55, '2020-08-01', 1710183.175394937, 1510712.4249516348, 1929498.7294977428),
 (56,
  '2020-09-01',
  1745751.9420672625,
  1542196.1311672074,
  1942321.4403063636),
 (57, '2020-10-01', 1872263.866928022, 1670145.116385401, 2071691.5447329995),
 (58, '2020-11-01', 1810535.47048662, 1591908.556759121, 2011895.5279874809),
 (59,
  '2020-12-01',
  1572738.7327161063,
  1367081.2142978704,
  1779065.7367124818),
 (60, '2021-01-01', 2163987.198767845, 1942225.2584466168, 2367211.8670614944),
 (61, '2021-02-01', 1808347.0944153792, 1606592.870543034, 2012259.3820522327),
 (62, '2021-03-01', 2001950.5805764028, 1782442.7460692348, 2202801.081662665),
 (63, '2021-04-01', 2137840.405740279, 1919501.768613214, 2354246.326958165),
 (64, '2021-05-01', 2150694.503216701, 1952478.7121585847, 2364383.888878812),
 (65, '2021-06-01', 2002224.8668581136, 1798222.301461808, 2204189.014187488),
 (66, '2021-07-01', 2139814.109426957, 1926706.4248761723, 2364292.798021211),
 (67, '2021-08-01', 2034821.4004307308, 1837402.9365973424, 2254833.654360469),
 (68, '2021-09-01', 2137468.1129830186, 1916905.5545469008, 2340477.675211728),
 (69, '2021-10-01', 2097433.889144944, 1876425.7042048636, 2298407.1167360926),
 (70, '2021-10-31', 1983041.638850684, 1780287.0017604376, 2198392.8132101223),
 (71, '2021-11-30', 761805.6019038099, 556223.1567280232, 960932.4907361468),
 (72, '2021-12-31', 2597261.049154037, 2391829.416650215, 2800144.086357661),
 (73, '2022-01-31', 2573956.1950829984, 2362582.7511631665, 2776961.063592653),
 (74, '2022-02-28', 1840200.6380535625, 1626352.212515124, 2051419.1402847923),
 (75,
  '2022-03-31',
  2041402.0301912809,
  1833047.1135036277,
  2263749.3792748586)]